/* 전국직영센터 섹션 스타일 */
.center-container {
  position: relative;
  height: 2300px;
}
.center-section {
  /* position: absolute; */
  padding-top: 177px;
  width: 100%;
  display: flex;
  flex-direction: column; /* 요소들을 세로로 정렬 */
  align-items: flex-start;
  max-width: 1920px; /* 제한된 너비 설정 */
  margin: 0px auto; /* 중앙 정렬 및 위쪽 여백 */
  background-color: #ffffff;
  border-bottom-left-radius: 60px; /* 모서리 둥글게 */
  border-bottom-right-radius: 60px; /* 모서리 둥글게 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  background-color: #fbfbfb;
  padding-bottom: 108px;
}

.center-contents {
  display: flex;
  justify-content: space-between;
  width: 1370px;
  margin: 0 auto 40px;
}
.center-contents > img {
  width: 85px;
  height: 103px;
}

.center-title {
  font-family: "Apple SD Gothic Neo";
  font-size: 42px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: -0.05em;
  text-align: left;
}

.center-title .normal-text {
  font-weight: 300;
}

.center-title .black-highlight {
  font-weight: 700;
}

.center-subtitle {
  padding-bottom: 20px;
  font-family: "Apple SD Gothic Neo";
  font-size: 42px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: -0.05em;
  text-align: left;
}

.button-group {
  display: flex;
  gap: 20px;
}

.center-button {
  padding: 10px 22.5px;
  border-radius: 100px; /* 둥근 버튼 */
  background-color: #e6e6e6; /* 비활성화 배경색 */
  color: #333; /* 비활성화 글씨 색상 */
  font-family: Apple SD Gothic Neo;
  font-weight: 200;
  letter-spacing: -0.05em;
  font-size: 28px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* 색상 전환 효과 */
}

.center-button.active {
  background-color: #333; /* 활성화 배경색 */
  color: #fff; /* 활성화 글씨 색상 */
  font-family: Apple SD Gothic Neo;
  font-weight: 700;
  letter-spacing: -0.05em;
  font-size: 28px;
}

.center-button:hover {
  background-color: #333; /* 호버 시 검은 배경색 */
  color: #fff; /* 호버 시 흰색 글씨 */
}

.truck-image {
  width: 1370px;
  height: 510px;
  margin: 0 auto;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
}

@media screen and (max-width: 1370px) {
  .center-contents {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  .center-title {
    font-size: 34px;
  }
  .center-subtitle {
    font-size: 34px;
    margin: 0;
  }
  .center-text {
    width: 100%;
  }
  .center-contents > img {
    display: none;
  }
  .button-group {
    flex-direction: column;
    gap: 12px;
  }
  .center-button {
    font-size: 20px;
  }
  .center-button.active {
    font-size: 20px;
  }
  .truck-image {
    width: 100%;
    height: auto;
  }
  h2,
  h3 {
    width: 100%;
  }
}
