.footer {
  display: flex;
  background: #000;
  justify-content: center;
  aspect-ratio: 1920 / 446;
  width: 100%;
  color: #fff;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  aspect-ratio: 1280 / 446;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}

.footer__links ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.footer__links li {
  display: inline-block; /* 리스트 항목을 가로로 배치 */
}

.footer__links a {
  font-family: "Apple SD Gothic Neo", sans-serif; /* 폰트 설정 */
  font-size: 18px; /* 폰트 크기 */
  line-height: 21.6px; /* 줄 간격 */
  text-align: center; /* 텍스트 중앙 정렬 */
  color: white; /* 텍스트 색상 */
  text-decoration: none; /* 링크 밑줄 제거 */
  display: block; /* 앵커 태그를 블록 요소로 설정 */
}

.footer__links a.active {
  font-weight: 500; /* 폰트 가중치 */
}

.footer__links a:hover {
  font-weight: 500; /* 폰트 가중치 */
}

.footer__logo {
  height: 62px;
  object-fit: contain;
}
